/* ==========================================================================
    Settings / Config / Typography
========================================================================== */

/* Settings
========================================================================== */

$font-base: 16px;

/* Fonts
========================================================================== */

/*

Fonts files are loaded by @next/font in _app

@font-face {
    font-family: 'Victor Mono';
    src: url("../../fonts/VictorMono-Regular.eot") format("eot"), url("../../fonts/VictorMono-Regular.woff") format("woff"), url("../../fonts/VictorMono-Regular.woff2") format("woff2"), url("../../fonts/VictorMono-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

*/