/* ==========================================================================
    Base / Form
========================================================================== */

:root {
	--form-element-padding: 15px;
	--form-element-margin: 35px;
}

.c-formElement {
	@include input-placeholder(inherit, inherit, var(--gray-500));
	margin-bottom: var(--form-element-margin);

	// input {
	// 	@include input-reset();
	// }

	// &--focusLine {
	// 	display: inline-block;
	// 	position: absolute;
	// 	top: -1px;
	// 	right: -1px;
	// 	bottom: -1px;
	// 	left: -1px;
	// 	z-index: 100;
	// 	pointer-events: none;
	// 	border: 1px solid;
	// 	border-color: transparent;
	// 	transition: border-color .35s $ease-in;
	// }

	/* Input
    ========================================================================== */

	// &--boxed {
	// 	position: relative;
	// 	background: var(--gray-200);
	// 	margin-bottom: var(--form-element-margin);
	// 	@include floating-label();

	// 	input {
	// 		@include input-reset();
	// 	}

	// 	/* Colored line on focus */
	// 	input:focus ~ .c-formElement--focusLine {
	// 		border-color: var(--secondary);
	// 	}
	// }

	// &--bordered {
	// 	position: relative;
	// 	background: transparent;
	// 	margin-bottom: var(--form-element-margin);
	// 	outline: 1px solid var(--gray-700);
	// 	@include floating-label();

	// 	input {
	// 		@include input-reset();
	// 	}

	// 	/* Colored line on focus */
	// 	input:focus ~ .c-formElement--focusLine {
	// 		border-color: var(--secondary);
	// 	}
	// }

	// &--line {
	// 	position: relative;
	// 	background: transparent;
	// 	margin-bottom: var(--form-element-margin);
	// 	@include floating-label();

	// 	&.m-label {
	// 		label {
	// 			left: 0
	// 		}
	// 	}

	// 	input {
	// 		@include input-reset();
	// 		padding-left: 0;
	// 	}

	// 	hr {
	// 		position: absolute;
	// 		bottom: 0;
	// 		left: 0;
	// 		width: 100%;
	// 		margin: 0;
	// 		height: 1px;
	// 		background: var(--gray-700);
	// 	}

	// 	.c-formElement--focusLine {
	// 		top: calc(100% - 1px);
	// 		right: auto;
	// 		bottom: auto;
	// 		left: 0;
	// 		border: none;
	// 		width: 0%;
	// 		height: 1px;
	// 		background: var(--secondary);
	// 		transition: all .35s $ease-in;
	// 	}

	// 	/* Colored line on focus */
	// 	input:focus ~ .c-formElement--focusLine {
	// 		width: 100%;
	// 	}
	// }

	/* Select
    ========================================================================== */

	&--select {
		&--boxed {
			position: relative;
			background: var(--gray-200);
			margin-bottom: var(--form-element-margin);

			svg {
				position: absolute;
				top: 50%;
				right: var(--form-element-padding);
				transform: translate3d(0, -50%, 0);
				width: 24px;
				fill: var(--body-text-color);
				pointer-events: none;
			}

			select {
				appearance: none;
				background: transparent;
				border-radius: 0;
				border: none;
				font-size: var(--font-base);
				padding: var(--form-element-padding) calc(var(--form-element-padding) + 2em) var(--form-element-padding) var(--form-element-padding);
				outline: none;
				width: 100%;

				&::-ms-expand {
					display: none;
				}
			}

			/* Colored line on focus */
			select:focus ~ .c-formElement--focusLine {
				border-color: var(--secondary);
			}
		}

		&--bordered {
			position: relative;
			background: transparent;
			outline: 1px solid var(--gray-700);
			margin-bottom: var(--form-element-margin);

			svg {
				position: absolute;
				top: 50%;
				right: var(--form-element-padding);
				transform: translate3d(0, -50%, 0);
				width: 24px;
				fill: var(--body-text-color);
				pointer-events: none;
			}

			select {
				appearance: none;
				background: transparent;
				border-radius: 0;
				border: none;
				font-size: var(--font-base);
				padding: var(--form-element-padding) calc(var(--form-element-padding) + 2em) var(--form-element-padding) var(--form-element-padding);
				outline: none;
				width: 100%;

				&::-ms-expand {
					display: none;
				}
			}

			/* Colored line on focus */
			select:focus ~ .c-formElement--focusLine {
				border-color: var(--secondary);
			}
		}

		&--line {
			position: relative;
			margin-bottom: var(--form-element-margin);

			svg {
				position: absolute;
				top: 50%;
				right: var(--form-element-padding);
				transform: translate3d(0, -50%, 0);
				width: 24px;
				fill: var(--body-text-color);
				pointer-events: none;
			}

			select {
				appearance: none;
				background: transparent;
				border-radius: 0;
				border: none;
				font-size: var(--font-base);
				padding: var(--form-element-padding) calc(var(--form-element-padding) + 2em) var(--form-element-padding) 0;
				outline: none;
				width: 100%;

				&::-ms-expand {
					display: none;
				}
			}

			hr {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				margin: 0;
				height: 1px;
				background: var(--gray-700);
			}

			.c-formElement--focusLine {
				top: calc(100% - 1px);
				right: auto;
				bottom: auto;
				left: 0;
				border: none;
				width: 0%;
				height: 1px;
				background: var(--secondary);
				transition: all .35s $ease-in;
			}

			/* Colored line on focus */
			select:focus ~ .c-formElement--focusLine {
				width: 100%;
			}
		}
	}

	/* File Upload
    ========================================================================== */

	// &--upload {
	// 	input {
	// 		@include visually-hidden();
	// 	}

	// 	label {
	// 		background: none;
	// 		border: none;
	// 		margin: 0 !important;
	// 		padding: var(--form-element-padding);
	// 		width: 100%;
	// 	}

	// 	&--boxed {
	// 		position: relative;
	// 		background: var(--gray-200);
	// 		margin-bottom: var(--form-element-margin);

	// 		svg {
	// 			position: absolute;
	// 			top: 50%;
	// 			right: var(--form-element-padding);
	// 			transform: translate3d(0, -50%, 0);
	// 			width: 24px;
	// 			fill: var(--body-text-color);
	// 			pointer-events: none;
	// 		}

	// 		input {
	// 			@include visually-hidden();
	// 		}

	// 		label {
	// 			background: none;
	// 			border: none;
	// 			margin: 0 !important;
	// 			padding: var(--form-element-padding) calc(var(--form-element-padding) + 2em) var(--form-element-padding) var(--form-element-padding);
	// 			width: 100%;
	// 			min-height: 51px;
	// 		}

	// 		/* Colored line on focus */
	// 		input:focus ~ .c-formElement--focusLine {
	// 			border-color: var(--secondary);
	// 		}
	// 	}

	// 	&--bordered {
	// 		position: relative;
	// 		background: transparent;
	// 		outline: 1px solid var(--gray-700);
	// 		margin-bottom: var(--form-element-margin);

	// 		svg {
	// 			position: absolute;
	// 			top: 50%;
	// 			right: var(--form-element-padding);
	// 			transform: translate3d(0, -50%, 0);
	// 			width: 24px;
	// 			fill: var(--body-text-color);
	// 			pointer-events: none;
	// 		}

	// 		input {
	// 			@include visually-hidden();
	// 		}

	// 		label {
	// 			background: none;
	// 			border: none;
	// 			margin: 0 !important;
	// 			padding: var(--form-element-padding) calc(var(--form-element-padding) + 2em) var(--form-element-padding) var(--form-element-padding);
	// 			width: 100%;
	// 			min-height: 51px;
	// 		}

	// 		/* Colored line on focus */
	// 		input:focus ~ .c-formElement--focusLine {
	// 			border-color: var(--secondary);
	// 		}
	// 	}

	// 	&--line {
	// 		position: relative;
	// 		background: transparent;
	// 		margin-bottom: var(--form-element-margin);

	// 		svg {
	// 			position: absolute;
	// 			top: 50%;
	// 			right: var(--form-element-padding);
	// 			transform: translate3d(0, -50%, 0);
	// 			width: 24px;
	// 			fill: var(--body-text-color);
	// 			pointer-events: none;
	// 		}

	// 		input {
	// 			@include visually-hidden();
	// 		}

	// 		label {
	// 			background: none;
	// 			border: none;
	// 			margin: 0 !important;
	// 			padding: var(--form-element-padding) calc(var(--form-element-padding) + 2em) var(--form-element-padding) 0;
	// 			width: 100%;
	// 			min-height: 51px;
	// 		}

	// 		hr {
	// 			position: absolute;
	// 			bottom: 0;
	// 			left: 0;
	// 			width: 100%;
	// 			margin: 0;
	// 			height: 1px;
	// 			background: var(--gray-700);
	// 		}

	// 		.c-formElement--focusLine {
	// 			top: calc(100% - 1px);
	// 			right: auto;
	// 			bottom: auto;
	// 			left: 0;
	// 			border: none;
	// 			width: 0%;
	// 			height: 1px;
	// 			background: var(--secondary);
	// 			transition: all .35s $ease-in;
	// 		}

	// 		/* Colored line on focus */
	// 		input:focus ~ .c-formElement--focusLine {
	// 			width: 100%;
	// 		}
	// 	}
	// }

	/* Textarea
    ========================================================================== */

	// &--boxed, &--bordered, &--line {
	// 	textarea {
	// 		background: none;
	// 		border: none;
	// 		font-size: var(--font-base);
	// 		height: auto;
	// 		max-width: 100%;
	// 		outline: none;
	// 		width: 100%;
	// 	}
	// }

	// &--boxed, &--bordered {
	// 	textarea {
	// 		padding: var(--form-element-padding);
	// 		min-height: 180px;
	// 	}

	// 	/* Colored line on focus */
	// 	textarea:focus ~ .c-formElement--focusLine {
	// 		border-color: var(--secondary);
	// 	}
	// }

	// &--line {
	// 	textarea {
	// 		padding: var(--form-element-padding) 0 0 0;
	// 		min-height: 51px;
	// 	}

	// 	/* Colored line on focus */
	// 	textarea:focus ~ .c-formElement--focusLine {
	// 		width: 100%;
	// 	}
	// }

	/* Checkbox / Radio
    ========================================================================== */

	&--checkbox,
	&--radio {
		@include input-checkbox-reset();

		&:first-child ~ & {
			margin-left: 0.8em;
		}

		:checked + label {
			&::before {
				background: var(--primary);
				border-color: var(--primary);
			}
		}
	}

	&--radio {
		label {
			&::before {
				border-radius: 40px;
			}
		}
	}

	&--checkboxSvg {
		display: inline-block;

		input{
			display: none!important;
		}

		input:checked ~ label svg path {
			stroke-dashoffset: 0;
		}

		label {
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: 0;
			cursor: pointer;
		}

		input ~ label svg {
			width: 1.1em;
			height: 1.1em;
			border: 1px solid var(--primary);
			margin-right: 10px;
		}

		input ~ label svg path {
			transition: stroke-dashoffset .3s $ease-in;
			fill: none;
			stroke: var(--primary);
			stroke-dasharray: 270;
			stroke-dashoffset: 270;
			stroke-width: 5px;
		}
	}

	/* Submit Button
    ========================================================================== */

	&--submit {
		[type="submit"] {
			&.disabled,
			&.is-disabled {
				opacity: .45;
				pointer-events: none;
			}
		}
	}
}

/* label
========================================================================== */

label, .c-label {
	display: block;
	margin-bottom: var(--margin-thinner);
}