/* ==========================================================================
    Base / Form
========================================================================== */

.c-formElement {

	/* Submit Button
    ========================================================================== */

	&--submit {
		[type="submit"] {
			&.disabled,
			&.is-disabled {
				opacity: .45;
				pointer-events: none;
			}
		}
	}
}

/* label
========================================================================== */

label, .c-label {
	display: block;
	margin-bottom: var(--margin-thinner);
}