/* ==========================================================================
    Base / Scrollbar
========================================================================== */

.c-scrollbar {
    z-index: 1100;

    &_thumb {
        background-color: var(--primary);
        border-radius: 10px;
        opacity: 1;
    }
}