.c-form {
    max-width: 1000px;
    margin: 0 auto;

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>SM') {

        &__row {
            display: grid;
            gap: 0 var(--form-element-margin);
            grid-template-columns: repeat(2, 1fr);
        }

        &__item {

        }
    }

}