.c-formElement {
	@include input-placeholder(inherit, inherit, var(--gray-500));
	margin-bottom: var(--form-element-margin);

	input {
		@include input-reset();
	}

	&--focusLine {
		display: inline-block;
		position: absolute;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
		z-index: 100;
		pointer-events: none;
		border: 1px solid;
		border-color: transparent;
		transition: border-color .35s $ease-in;
	}

	/* Input
    ========================================================================== */

	&--boxed {
		position: relative;
		background: var(--section-bg-color);
		margin-bottom: var(--form-element-margin);
		@include floating-label();

		input {
			@include input-reset();
		}

		/* Colored line on focus */
		input:focus ~ .c-formElement--focusLine {
			border-color: var(--secondary);
		}

        /* Floating label */
        input:focus ~ label, :not(:placeholder-shown) ~ label {
            @include font-size(10px);
            top: calc((var(--form-element-padding) + 5px) * -1);
            opacity: 0.8;
        }
	}

	&--bordered {
		position: relative;
		background: transparent;
		margin-bottom: var(--form-element-margin);
		outline: 1px solid var(--gray-700);
		@include floating-label();

		input {
			@include input-reset();
		}

		/* Colored line on focus */
		input:focus ~ .c-formElement--focusLine {
			border-color: var(--secondary);
		}

        /* Floating label */
        input:focus ~ label, :not(:placeholder-shown) ~ label {
            @include font-size(10px);
            top: calc((var(--form-element-padding) + 5px) * -1);
            opacity: 0.8;
        }
	}

	&--line {
		position: relative;
		background: transparent;
		margin-bottom: var(--form-element-margin);
		@include floating-label();

		&.c-floatingLabel {
			label {
				left: 0
			}
		}

		input {
			@include input-reset();
			padding-left: 0;
		}

		hr {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			margin: 0;
			height: 1px;
			background: var(--gray-400);
		}

		.c-formElement--focusLine {
			top: calc(100% - 1px);
			right: auto;
			bottom: auto;
			left: 0;
			border: none;
			width: 0%;
			height: 1px;
			background: var(--secondary);
			transition: all .35s $ease-in;
		}

		/* Colored line on focus */
		input:focus ~ .c-formElement--focusLine {
			width: 100%;
		}

        /* Floating label */
        input:focus ~ label, :not(:placeholder-shown) ~ label {
            @include font-size(10px);
            top: calc((var(--form-element-padding) + 5px) * -1);
            opacity: 0.8;
        }
	}

	/* File Upload
    ========================================================================== */

	&--upload {
		input {
			@include visually-hidden();
		}

		label {
			background: none;
			border: none;
			margin: 0 !important;
			padding: var(--form-element-padding);
			width: 100%;
		}

		&--boxed {
			position: relative;
			background: var(--gray-200);
			margin-bottom: var(--form-element-margin);

			svg {
				position: absolute;
				top: 50%;
				right: var(--form-element-padding);
				transform: translate3d(0, -50%, 0);
				width: 24px;
				fill: var(--body-text-color);
				pointer-events: none;
			}

			input {
				@include visually-hidden();
			}

			label {
				background: none;
				border: none;
				margin: 0 !important;
				padding: var(--form-element-padding) calc(var(--form-element-padding) + 2em) var(--form-element-padding) var(--form-element-padding);
				width: 100%;
				min-height: 51px;
			}

			/* Colored line on focus */
			input:focus ~ .c-formElement--focusLine {
				border-color: var(--secondary);
			}
		}

		&--bordered {
			position: relative;
			background: transparent;
			outline: 1px solid var(--gray-700);
			margin-bottom: var(--form-element-margin);

			svg {
				position: absolute;
				top: 50%;
				right: var(--form-element-padding);
				transform: translate3d(0, -50%, 0);
				width: 24px;
				fill: var(--body-text-color);
				pointer-events: none;
			}

			input {
				@include visually-hidden();
			}

			label {
				background: none;
				border: none;
				margin: 0 !important;
				padding: var(--form-element-padding) calc(var(--form-element-padding) + 2em) var(--form-element-padding) var(--form-element-padding);
				width: 100%;
				min-height: 51px;
			}

			/* Colored line on focus */
			input:focus ~ .c-formElement--focusLine {
				border-color: var(--secondary);
			}
		}

		&--line {
			position: relative;
			background: transparent;
			margin-bottom: var(--form-element-margin);

			svg {
				position: absolute;
				top: 50%;
				right: var(--form-element-padding);
				transform: translate3d(0, -50%, 0);
				width: 24px;
				fill: var(--body-text-color);
				pointer-events: none;
			}

			input {
				@include visually-hidden();
			}

			label {
				background: none;
				border: none;
				margin: 0 !important;
				padding: var(--form-element-padding) calc(var(--form-element-padding) + 2em) var(--form-element-padding) 0;
				width: 100%;
				min-height: 51px;
			}

			hr {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				margin: 0;
				height: 1px;
				background: var(--gray-700);
			}

			.c-formElement--focusLine {
				top: calc(100% - 1px);
				right: auto;
				bottom: auto;
				left: 0;
				border: none;
				width: 0%;
				height: 1px;
				background: var(--secondary);
				transition: all .35s $ease-in;
			}

			/* Colored line on focus */
			input:focus ~ .c-formElement--focusLine {
				width: 100%;
			}
		}
	}
}