/* ==========================================================================
    Header Basic
========================================================================== */

.c-headerBasic {
    position: relative;
    padding: calc(var(--spacing-responsive) + var(--navigation-height)) 0 var(--spacing-responsive) 0;
    // padding: calc(var(--spacing-responsive) + 89px) 0 var(--spacing-responsive) 0;

    &__row {
        max-width: 800px;
        margin: 0 auto;
    }

    &__btn {
        margin-top: rem(35px);
    }

    /* modifiers */
    &--fullHeight {
        display: flex;
        align-items: center;
        min-height: calc(100vh - var(--navigation-height));
    }
}