/* ==========================================================================
    Header Basic
========================================================================== */

.c-headerBasic {
    position: relative;

    &__row {
        max-width: 800px;
        margin: 0 auto;
    }

    &__btn {
        margin-top: rem(20px);
    }
}