.c-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: var(--padding-thin) 0;

    &__row {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 0 0 rem(15px);

        &--item {
            padding: 0;
            margin: 0;

            a {
                display: block;
            }
        }
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>MD') {
        &__list {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            &--item {
                &:not(:last-child) {
                    margin-right: rem(30px);
                }
            }
        }
    }
}

.c-spacer {
    padding-top: var(--navigation-height);
}