/* ==========================================================================
    Navigation
========================================================================== */

.c-navigation {
    --navigation-bg: transparent;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--navigation-bg);
    box-shadow: none;
    transition: all .35s $ease-in 0s;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--primary);
        clip-path: circle(0px at top right);
        transition: all .35s $ease-in;
        pointer-events: none;
    }

    /* states */
    &.is-hidden {
        transform: translate3d(0, -100%, 0) translateZ(0);
    }

    &.is-sticky {
        --navigation-bg: rgba(var(--white), .5);
        box-shadow: inset 0 -1px 0 0 var(--gray-200);
        backdrop-filter: saturate(180%) blur(5px);
        backface-visibility: hidden;
        // transform: translateZ(0);
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    /* mobile */
    // @include mediaq('<MD') {
        --primary-padding: 25px;
        --nav-inner-scroll-padding: 50px;

        &__container {
            width: 100%;
            margin: 0 auto;
            padding-left: var(--grid-gutter-width);
            padding-right: var(--grid-gutter-width);
        }

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
        }

        &__logo {
            position: relative;
            // line-height: 0;
            padding-right: 15px;

            a {
                display: block;
            }
        }

        /* states */
        &.is-open {

            &:before {
                height: 100vh;
                clip-path: circle(150% at top right);
            }
        }
    // }
}