.c-navigation {
    --navigation-bg: transparent;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--navigation-bg);
    padding: var(--padding-thin) 0;
    box-shadow: none;
    transition: all .35s $ease-in 0s;

    &__row {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 0 0 rem(15px);

        &--item {
            padding: 0;
            margin: 0;

            a {
                display: block;
            }
        }
    }

    /* states */
    &.is-hidden {
        transform: translate3d(0, -100%, 0);
    }

    &.is-sticky {
        --navigation-bg: rgba(var(--white), .5);
        box-shadow: inset 0 -1px 0 0 var(--gray-200);
        backdrop-filter: saturate(180%) blur(5px);
        backface-visibility: hidden;
        // transform: translateZ(0);
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>MD') {
        &__list {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            &--item {
                &:not(:last-child) {
                    margin-right: rem(30px);
                }
            }
        }
    }
}

.c-spacer {
    padding-top: var(--navigation-height);
}