/* ==========================================================================
    Navigation
========================================================================== */

.c-navigation {
    --navigation-bg: transparent;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--navigation-bg);
    box-shadow: none;
    transition: all .35s $ease-in 0s;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--primary);
        clip-path: circle(0px at top right);
        transition: all .35s $ease-in;
        pointer-events: none;
    }

    /* states */
    &.is-hidden {
        transform: translate3d(0, -100%, 0) translateZ(0);
    }

    &.is-sticky {
        --navigation-bg: rgba(var(--white), .5);
        box-shadow: inset 0 -1px 0 0 var(--gray-200);
        backdrop-filter: saturate(180%) blur(5px);
        backface-visibility: hidden;
        // transform: translateZ(0);
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    /* mobile */
    // @include mediaq('<MD') {
        --primary-padding: 25px;
        --nav-inner-scroll-padding: 50px;

        &__container {
            width: 100%;
            margin: 0 auto;
            padding-left: var(--grid-gutter-width);
            padding-right: var(--grid-gutter-width);
        }

        // &__hamburger {
        //     line-height: 0;
        // }

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
        }

        &__logo {
            position: relative;
            // line-height: 0;
            padding-right: 15px;

            a {
                display: block;
            }
        }

        // &__nav {
        //     position: absolute;
        //     top: 100%;
        //     left: 0;
        //     width: 100%;
        //     height: calc(100vh - var(--navigation-height));
        //     opacity: 0;
        //     background-color: transparent;
        //     pointer-events: none;
        //     transition: all $ease-in .35s;

        //     &__scroll {
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         width: 100%;
        //         height: 100%;
        //         overflow: auto;
        //     }

        //     &__primary {
        //         position: relative;
        //         padding: var(--primary-padding) 0 0 0;
        //         opacity: 0;
        //         transition: opacity .2s $ease-in;

        //         &--logo {
        //             display: none;
        //         }

        //         &--list {

        //             > ul {
        //                 margin: 0;
        //                 padding: 0;
        //                 list-style: none;
        //                 font-family: var(--font-primary);

        //                 > li {
        //                     position: relative;
        //                     padding: 0;
        //                     margin: 0;

        //                     &:before {
        //                         content: '';
        //                         display: block;
        //                         position: absolute;
        //                         top: 0;
        //                         left: 0;
        //                         width: 100%;
        //                         height: 1px;
        //                         background: var(--gray-600);
        //                         pointer-events: none;
        //                     }

        //                     &:last-child {
        //                         &:after {
        //                             content: '';
        //                             display: block;
        //                             position: absolute;
        //                             left: 0;
        //                             bottom: 0;
        //                             width: 100%;
        //                             height: 1px;
        //                             background: var(--gray-600);
        //                             pointer-events: none;
        //                         }
        //                     }

        //                     > span {
        //                         display: block;
        //                         padding: 24px var(--grid-gutter-width);

        //                         > a {
        //                             display: inline-block;
        //                             @include font-size(18px);
        //                             font-weight: var(--font-regular);
        //                             color: var(--gray-100);
        //                             text-transform: uppercase;
        //                         }
        //                     }

        //                     // &.is-current-page {
        //                     //
        //                     // }
        //                 }
        //             }
        //         }
        //     }
        // }

        /* states */
        &.is-open {

            &:before {
                height: 100vh;
                clip-path: circle(150% at top right);
            }
        }

        // &.is-open & {

        //     &__nav {
        //         opacity: 1;
        //         pointer-events: all;

        //         &__scroll {
        //             padding-bottom: var(--nav-inner-scroll-padding);
        //         }

        //         &__primary {
        //             opacity: 1;
        //             transition: opacity 1s $ease-in;
        //         }
        //     }
        // }
    // }
}

// /* Hamburger
// ========================================================================== */

// .m-hamburger {
//     position: relative;
//     width: 43px;
//     height: 43px;

//     &__lines {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         width: 33px;
//         height: 33px;
//         transform: translate(-50%, -50%);
//         transition: all .35s $ease-in;

//         span {
//             position: absolute;
//             top: 50%;
//             left: 0;
//             transform: translateY(-50%);
//             width: 100%;
//             height: 2px;
//             background: var(--black);
//             transition-timing-function: $ease-in;
//             transition-duration: .3s;

//             &:before, &:after {
//                 content: '';
//                 display: block;
//                 position: absolute;
//                 top: -10px;
//                 left: 0;
//                 width: 100%;
//                 height: 2px;
//                 background: var(--black);
//                 transition: top .1s $ease-in .25s, opacity .1s $ease-in;
//             }

//             &:after {
//                 top: auto;
//                 bottom: -10px;
//                 transition: bottom .1s $ease-in .25s, transform .3s $ease-in;
//             }
//         }
//     }

//     /* states */
//     &.is-nav-active & {

//         &__lines {

//             span {
//                 transition-delay: .3s;
//                 transition-timing-function: $ease-in;
//                 transform: rotate(225deg);

//                 &:before {
//                     top: 0;
//                     transition: top .1s $ease-in, opacity .1s $ease-in .12s;
//                     opacity: 0;
//                 }

//                 &:after {
//                     bottom: 0;
//                     transition: bottom .1s $ease-in, transform .22s $ease-in .15s;
//                     transform: rotate(-90deg);
//                 }
//             }
//         }
//     }
// }